{% extends "stadsrechten/header.html" %}
{% load static %}
{% block content %}
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Stadsrechten</h2>
          <p class="lead">Stadsrechten zijn bijzondere privileges verleend door de landsheer of geestelijke van het land waar de stad zich in bevond. Er zijn veel vormen van stadsrechten. De term 'stadsrechten' zoals wij die vandaag kennen was ook niet bekend in de tijd dat de stadsrechten werden verleend. De stadsrechten bestonden uit diverse aparte privileges, zoals het bouwen van stadsmuren of het houden van een markt. De reden voor het verlenen van deze privileges waren ook erg divers. Zo kon een landsheer als doel hebben dat de stad zich zou ontwikkelen tot economisch knooppunt, waarmee hij (of zij) de belastinginkomsten erg kon verbeteren. In enkele gevallen werkte dit ook, maar er zijn ook voorbeelden van steden die nooit echt tot bloei zijn gekomen. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Stadsrechten. <span class="text-muted"> En wie ze kon verstrekken.</span></h2>
          <p class="lead">Over wie stadsrechten nu precies mochten verlenen bestaat wat minder onduidelijkheid over. Een stadsrecht is in principe terug te leiden tot de regerende keizer van de tijd. Deze moest daar - al dan niet expliciet - zijn of haar toestemming voor hebben gegeven. In de praktijk verleende de landsheer de stadsrechten op eigen initiatief, maar officieel had hij als leenman van de keizer toestemming nodig. Naast de herleiding tot de keizer, is het ook belangrijk dat de stadsrechten zijn verleend in de traditie van de Brabantse Hertogen. Het vroegste jaartal voor dergelijke stadsrechtverleningen ligt op of dichtbij de stadsrechten verlening aan Leuven. De reden hiervoor is dat deze stadsrechten het meest zijn gekopieerd in latere verleningen, en dat die vorm het meeste succesvol bleek gezien de groei van de steden die zulke stadsrechten hebben gekregen.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

{% endblock %}
